html, body, #root {  
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

::-moz-selection { background: #828dccad; }
::selection { background: #828dccad; }