.Analysis {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Analysis-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 150px;
}

.Analysis-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}


.Analysis-card-add {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 200px;
  background-color: #fff;
  border: 1px dashed black;
  flex-wrap: wrap;
  width: 150px;
}

.Analysis-card-add:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.025);
}

