.HomePage-user {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: red;
}

.HomePage-org-autocomplete {
  width: 50%;
  margin: 15px; 
}

